svg {
  background: #ffeaea;
  overflow: visible;
  margin-bottom: 2rem;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin-bottom: 5px;
  width: 100px;
}